html {
 }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: rgba(185, 15, 15, 0.95);
    color: #ff0404;
/*    min-width: 1100px;*/

    }

